* {
  margin: 0 auto;
  padding: 8;
}

#container {
  background-image: linear-gradient(#00000080, #5555d7), url("/assets/images/survey2.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 10px;
}

.heading {
  margin-bottom: 2rem;
}

.heading h1 {
  text-align: center;
  color: white;
  padding-top: 40px;
  padding-bottom: 12px;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.heading p {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  color: white;
}

.form-group {
  width: 60%;
  font-weight: 100;
  color: white;
  padding: 5vh 4rem 4rem 4rem;
  border: navajowhite;
  background-color: #00000080;
  height: 80%;
}

.answer {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  padding-left: 40%;
  padding-right: 40%;
  margin: 4px 3px;
  border-radius: 5px;
}

#submit-button {
  background-color: #37af65;
  color: aliceblue;
  display: flex;
  text-align: center;
  align-items: center;
  padding: 15px;
  padding-left: 45%;
  padding-right: 45%;
}

.spacing {
  margin-top: 4px;
  margin-bottom: 12px;
}

.box {
  margin-top: 4px;
  margin-bottom: 12px;
}

.options {
  margin-top: 4px;
  margin-bottom: 12px;
}

.comments {
  margin: auto;
  padding-bottom: 50px;
  height: 30vh;
  display: flexbox;
}

#dropdown {
  width: 98%;
  padding: 5px;
}

#choice {
  width: 98%;
  padding: 5px;
}

#textarea {
  padding-right: 48%;
  background-color: #fff;
  border: 10px solid var(--input-border);
  border-radius: 4px;
  width: 45%;
  height: 45%;
  margin-left: 2%;
}

.submit {
  margin: 5%;
}
