* {
  margin: 0 auto;
  padding: 8;
}

#container {
  background-image: linear-gradient(#00000080, #5555d7), url("/assets/images/survey2.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 10px;
}

.heading {
  margin-bottom: 2rem;
}

.heading h1 {
  text-align: center;
  color: white;
  padding-top: 40px;
  padding-bottom: 12px;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.heading p {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  color: white;
}

.form-group {
  width: 45%;
  font-weight: 100;
  color: white;
  padding: 4% 7% 2px 6%;
  border: navajowhite;
  background-color: #00000080;
  height: 80%;
  font-size: 20px;
}

.answer {
  width: 100%;
  text-align: left;
  padding: 5px;
  margin: 4px 3px;
  border-radius: 5px;
  justify-content: left;
}

#submit-button {
  background-color: #37af65;
  color: aliceblue;
  display: flex;
  justify-content: center;
  padding: 15px;
  width: 104%;
  font-size: 18px;
}

.spacing {
  margin-top: 4px;
  margin-bottom: 12px;
}

.box {
  margin-top: 4px;
  margin-bottom: 12px;
}

.options {
  margin-top: 4px;
  margin-bottom: 12px;
}

.comments {
  padding-bottom: 80px;
  height: 30vh;
  display: flexbox;
}

#dropdown {
  width: 103%;
  padding: 5px;
  color: #524c4c;
}

#choice {
  width: 103%;
  padding: 5px;
  color: #524c4c;
}

#textarea {
  padding-right: 48%;
  background-color: #fff;
  border: 10px solid var(--input-border);
  border-radius: 4px;
  width: 55%;
  height: 45%;
  margin: 2% 2% 0 0;
  text-align: left;
}

.submit {
  margin: 4% 0 8%;
}
